<div class="container mt-5">
  <% if notice %>
    <p id="notice">
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    </p>
  <% end %>

  <h1 class="text-center m-5">Blind Date</h1>
    <div class="d-flex">
    <div class="pe-3">
      <%= link_to 'Back', root_path, class: 'btn btn-primary' %>
    </div>
    <div class="pe-3">
      <%= link_to 'New Blind Date', new_blind_date_path, class: 'btn btn-success' %>
    </div>
  </div>

  <table class="table mt-3">
    <thead class='table-active th-text-color'>
      <tr>
        <th class="align-middle text-center">Event</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @blind_dates.each do |blind_date| %>
        <tr>
          <td class="align-middle text-center"><%= blind_date.event %></td>
          <td class="align-middle text-center"><%= link_to 'Show', blind_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
